* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 1.6;
    background-color: #08010e;
    color: #fff;
}

header {
    background-color: #08010e;
    color: #333;
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: solid;
    font-weight: bold;
}

#hero {
    background-color: #40408d;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
}

section {
    padding: 40px 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 30px;
}

p {
    margin-bottom: 15px;
}

.skills {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
}

#about, #skills, #projects, #contacts {
    padding: 20px;
    text-align: center;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
